/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: #248a83;
	border: none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-family: 'Novecento Sans Web',sans-serif;
	font-size: 14.4px;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: #19625d;
		color: #19625d;
	}

	&:active,
	&:focus {
		
	}
}

/* Fields */

.search-field{
	color: $color__text-main;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
background-color: #f4f4f4;
border: 1px solid #e1e1e1;
border-radius: 0;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 8px;
	width: 100%;
}

textarea {
	padding-left: 3px;
	width: 100%;
	color: #248a83;
}

.dark-button{
    background-color: transparent;
    border: 1px solid #000;
    color: #000;
    border-radius: 0;
    font-size: .9rem;
    line-height: 1;
    padding: .75rem 1.5rem;
    margin-bottom: 3rem;;
    &:hover {
      background-color: $color__greenbrand;
      color: $color__background-body; 
      border: 1px solid $color__background-body;
      }
   }