/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
body{
  img{
    width: 100%;
    height: auto;
  }
}

.site {
  max-width: auto;
  margin: 0 auto;
}

.site-content {
  padding-top: 50px;
  margin: 5rem 0;
  display: flex;
}

.main-navigation{
  margin-top:-50px;
}

body:not(.home):not(.page-id-7):not(.post-type-archive):not(.tax-product-type):not(.single-product):not(.single-adventure) .site-content {
 
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  width: 1120px;
}

.content-area {
width:73%;
  padding-top: 3rem;
}

.widget-area {
  width:27%;
  padding-top: 3rem;
}

/* Front page */

h2 {
  font-family: 'Novecento Sans Web';
  color: #2f1339;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

p {
  font-family: 'Merriweather Web';
  color: #404040;
  font-size: 16px;
  margin-bottom: 1.5rem;
}

