/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

.site {
  max-width: auto;
  margin: 0 auto;
}

.site-content {
  padding: 1rem;
  margin: 5rem 0;
  display: flex;
}

.content-area {
  flex: 2;
}

.widget-area {
  flex: 1;
}

/* Front page */

h2 {
  font-family: 'Novecento Sans Web';
  color: #2f1339;
  font-size: 2.1rem;
  margin-bottom: 1.5rem;
}

p {
  font-family: 'Merriweather Web';
  color: #404040;
  font-size: 16px;
  margin-bottom: 1.5rem;
}
